
/* Header */

.header-flex-row {
    display: flex;
    min-height: 60px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header-flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #fff;
    color: #EE1B2E;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

nav.header-flex-row {
    padding: 0px;
    margin: 20px 0px;
    justify-content: center;
}

nav {
    background-color: #fff;
    color: #EE1B2E;
    font-size: 1em;
    padding: 10px;
    margin: 20px;
    width: auto;
}

nav ul {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 0px 5px;
    margin: 0px 5px;
    text-align: center;
    transition: transform 0.2s ease;
}

nav ul :hover {
    cursor: pointer;
    background-color: #e6e6e6;
    transform: scale(2.1);
}

a {
    text-decoration: none;
    color: #EE1B2E;
}

#logo {
    max-width: 100px;
    margin: auto;
    padding: 0 1.25vw 0 4.75vw;
}

#hamburger-menu {
    min-height: 28px;
    margin: 10px;
}

/*-------------------- HAMBURGER MENU ------------------------------*/
.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: block;
    cursor: pointer;
    margin-right: 10px;
}


/* Responsive layout */
@media screen and (max-width: 800px) {
    .header-flex-row {
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;
    }

    .header-flex-column {
        flex-direction: column;
        align-self: center;
    }

    .header-flex-box {
        flex-direction: column;
        align-items: center;
        min-width: 10px;
    }

    nav {
        padding: 0;
    }

    #logo {
        max-width: 75px;
        padding: 0 1vw;
    }

    nav ul {
        display: block;
        margin: 5px 0;
        margin-right: 0;
    }

    .header-flex-box h1 {
        margin-bottom: 10px;
        font-size: 1.8em;
    }

    button {
        display: block;
        width: auto;
        margin: 10px 10px 10px 10px;
    }

    .hamburger-icon {
        font-size: 1.5em;
    }

    /*----------------------- HAMBURGER MENU ---------------------------*/
    nav.header-flex-row ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    nav#hamburger-menu.active.header-flex-row {
        display: flex;
        margin: 10px;
    }

    .header-flex-row.active ul {
        display: block;
    }

    .header-flex-column .header-flex-row:last-child {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 400px) {
    .header-flex-row {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .header-flex-column {
        flex-direction: column;
        align-items: center;
    }

    .header-flex-box {
        flex-direction: column;
        align-items: center;
        min-width: 10px;
    }

    nav {
        padding: 0;
    }

    #logo {
        max-width: 50px;
    }

    nav ul {
        display: block;
        margin: 5px 0;
        margin-right: 0;
    }

    .header-flex-box h1 {
        margin-bottom: 10px;
        font-size: 1.8em;
    }

    #logo {
        max-width: 65px;
    }

    .header-flex-row {
        flex-direction: row;
        align-items: center;
    }

    h2 {
        font-size: 1em;
    }

    nav {
        font-size: .8em;
    }

    nav#hamburger-menu.active.header-flex-row {
        display: flex;
        flex-direction: row;
    }

    .header-flex-row.active ul {
        display: block;
    }

}
